@font-face {
  font-family: "atten-new";
  src: local("atten-new"), url(./fonts/AttenNewBold.otf) format("opentype");
}

@font-face {
  font-family: "atten-new";
  src: local("atten-new"), url(./fonts/AttenNewRegular.otf) format("opentype");
}

body {
  font-family: atten-new, Arial, serif;
  overflow-x: hidden;
  margin: 0;
  background: rgb(250, 250, 255);
}
